body{
    background-color: black;
    text-align: center;
}

nav#cabeca{
    position:sticky;
}

input#input{
    width: 10%;
}

p{
    padding: 1%;
}

.bg-instagram{
    background-color: #f32cad;
}

.bg-whatsapp{
    background-color: rgb(0, 128, 64);
}